/* Mobile-first */

head {

}

body {

}

#special {
background-color:#5F8288;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
padding: 0.4rem;
background-position: bottom left;
background-repeat: repeat-x;
}

#wrapper {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


nav {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}


nav > * {
  flex-grow: 1;
  flex-basis: 0;
}

.piilossa {
  display: block;
}


header {

}

figure {

}

.tuotteet ul, .yhteystiedot ul {
  column-count: 2;
  list-style: circle;
  margin-left: 2rem;
}


li {

}


p {
  padding: 1rem;
}

.main-content-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.main-content-flex > * {
  flex-grow: 1;
  flex-basis: 0;
}

.main-content-flex .tupla {
  flex-grow: 2;
}

article {
  background-color: #FDF8F2;
  padding: 1rem;
}

aside {
  background-color: #FDFAF5;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

h1 {
  padding: 0.5rem;

}

footer {
  background-color: #FDFAF5;
  text-align: center;
  color: lightgray;
  padding: 2rem;
}

.callout {
  text-align: center;
  background-color: #FAEAC9;  
}

figure img {
  max-width: 100%;
}

.logo {
  width: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.ekalogo {
  width: 10%;
}

.tuotteet {
  margin: 1rem;
}

.yhteystiedot {
  margin: 1rem;
}

.meista {
  text-transform: uppercase;
  margin: 1rem;
}

.products {
  text-transform: uppercase;
}

.otsikko1 {
  text-transform: uppercase;
  margin: 1rem;
}

.h2 {
  text-transform: uppercase;
  padding: 1rem;
}

.isolla {
  text-transform: uppercase;
}

.butlletproof { 
  font-weight: 400;
}

/* Tablet-näkymän säännöt */

@media screen and (max-width: 426px) {
    body {
    }
    nav .ekalogo {
      flex-basis: 100%;
    }
    
    .bulletproof {
      font-weight: 400;
    }
  }

  /* Desktop-näkymän säännöt */ 

@media screen and (max-width: 769px) {
  body {
  }
  .piilossa {
    display: none;
  }
  .main-content-flex > * {
    flex-basis: 100%;
  }

  .bulletproof {
    font-style: oblique;
  }
}