/* Mobile-first */

head {

}

body {
  background-image: url("./images/grunge.png");
}

#special {
background-color:#5F8288;
background-position: bottom left;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
padding: 0.4rem;
background-image: url("./images/sahalaita.png");
background-repeat: repeat-x;
background-position: bottom;
}

span {
  font-style: italic;
}

#wrapper {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

nav {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid lightgrey;
}

nav > * {
  flex-grow: 1;
  flex-basis: 0;
}

.piilossa {
  display: block;
}

header {
  
}

figure {

}

.tuotteet ul, .yhteystiedot ul {
  color: #3EA3C4;
  column-count: 2;
  list-style: circle;
  margin-left: 2rem;
  text-decoration: underline;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 1rem;
}

li {

}

p {
  padding: 1rem;
}

.main-content-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-content-flex > * {
  flex-grow: 1;
  flex-basis: 0;
}

.main-content-flex .tupla {
  flex-grow: 2;
}

.pretzel {
  padding: 1rem;
}

article {
  padding: 1rem;
}

aside {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

h1 {
  padding: 0.5rem;
}

footer {
  text-align: center;
  color: lightgray;
  padding: 2rem;
}

.callout {
  background-color: #FBE9C9;
  border-radius: 10px;
  text-align: center;
}

figure img {
  max-width: 100%;
}

.logo {
  width: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.ekalogo {
  width: 10%;
  padding-bottom: 1rem;
}

.tuotteet {
}

.yhteystiedot {
}

.meista {
  padding-left: 2rem;
  text-transform: uppercase;
}

.products {
  padding-left: 2rem;
  text-transform: uppercase;
}

.salt-battery {
  padding-left: 2rem;
  text-transform: uppercase;
}

#suolat-pippurit {
  padding-left: 2rem;
}

.h2 {
  text-transform: uppercase;
  padding: 1rem;
}

.isolla {
  text-transform: uppercase;
  font-weight: bold;
}

.butlletproof { 
  font-weight: 400;
}

/* Tablet-näkymän säännöt */

@media screen and (max-width: 426px) {
    body {
    }
    nav .ekalogo {
      flex-basis: 100%;
    }
    
    .bulletproof {
      font-weight: 400;
    }
  }

  /* Desktop-näkymän säännöt */ 

@media screen and (max-width: 769px) {
  body {
  }
  .piilossa {
    display: none;
  }
  .main-content-flex > * {
    flex-basis: 100%;
  }

  .bulletproof {
    font-style: oblique;
  }
}